@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

.item-menu{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.item-menu .selected{
  color: #00D285;
}


.foto{
  background-image: url("/img/card.png");
  background-size: cover;
}

.profiloImg{
  height: 50px;
}

.style-button{
  height: 30px;
  width: 50px;
}

.section {
  opacity: 0;
  transform: translateY(20px); /* Per un leggero effetto di spostamento */
  transition: opacity 2s ease, transform 1s ease;
}

.section.fade-in {
  opacity: 1;
  transform: translateY(0); /* La sezione scivola su mentre diventa visibile */
}